[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
xmobar-wttr = {editable = true, path = "."}

[dev-packages]
twine = "*"
check-manifest = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
